:root {
  --blue-color: #62e0ff;
  --red-color: #ff7961;
  --green-color: #6ce84d;
  --yellow-color: #ffd55c;
  --purple-color: #a967eb;
  --gray-color: #626170;
}
* {
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif, "Courier New", Courier, monospace;
  margin: 0;
}

*:focus {
  outline: none;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
}

.page {
  min-height: 100vh;
  background-color: #f1f1f1;
}

::-webkit-scrollbar{
  background-color: var(--gray-color);
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--blue-color);
}

/* start sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ccc;
}
.sidebar > h3 {
  margin-bottom: 50px;
  font-size: 30px;
}
.sidebar > h3::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 3px;
  background: black;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.sidebar > h3::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: black;
  border: 4px solid white;
  border-radius: 50%;
  bottom: -33px;
  left: 50%;
  transform: translateX(-50%);
}
.sidebar ul li a {
  margin-bottom: 5px;
  transition: 0.3s;
  font-size: 18px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #7a7a7a;
  color: white;
}
.sidebar ul li a span {
  margin-left: 20px;
  transition: 0.1s;
}
.sidebar ul li a:hover span,
.sidebar ul li a.active span {
  transform: translateX(25%);
}
@media (max-width: 767px) {
  .sidebar {
    width: 80px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 16px;
    margin: 20px 0;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
  .sidebar ul li a {
    font-size: 16px;
    text-align: center;
    display: block;
  }
  .sidebar ul li a span {
    display: none;
  }
}
/* end sidebar */

/* start content */
.content {
  overflow: hidden;
}

.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: var(--gray-color);
}
.head .search input {
  padding: 10px 10px 10px 30px;
  border-radius: 10px;
  border: 2px solid var(--gray-color);
  min-width: 200px;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.head .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  top: -3px;
  left: -3px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 30px;
  border-radius: 50%;
  border: 1px solid var(--gray-color);
}

.page h1{
  margin: 20px 20px 40px 20px;
}
.page h1::after,
.page h1::before{
  content: '';
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 3px;
  width: 60px;
  background-color: var(--gray-color);
}
.page h1::before{
  width: 160px;
  background-color: white;
}

.wrapper{
  grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
  margin: 0 20px 20px 20px;
}
@media (max-width:767px) {
  .wrapper{
    grid-template-columns: minmax(200px,1fr);
    margin: 0 10px;
    gap: 10px;
  }
}

/* end content */

/* start welcome weight */
.page .welcome{
  overflow: hidden;
}
.page .welcome .body{
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
}
.page .welcome .avatar{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid var(--gray-color);
  margin-top: -32px;
  margin-left: 32px;
}
.page .welcome .body > div{
  flex: 1;
}
.page .welcome .intro img{
  width: 300px;
  margin-bottom: -20px;
}
.page .welcome .visit{
  margin: 15px 15px 15px 15px;
  padding: 10px 20px;
}
@media (max-width:767px) {
.page .welcome .avatar{
  margin-left: 0;
}
.page .welcome .body > div:not(:last-child){
  margin-bottom: 20px;
}
}
/* end welcome weight */

/* start quick draft wrapper */
.quick-draft textarea{
  resize: none;
  min-height: 180px;
}
/* end quick draft wrapper */

/* start yearly targets */
.target .target-row .icon{
  width: 64px;
  height: 64px;
}
.target .details{
  flex: 1;
}
.target .details .progress{
  height: 4px;
}
.target .details .progress > span{
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
.target .details .progress > span span{
  position: absolute;
  right: -21px;
  bottom: 16px;
  padding: 3px 8px;
}
.target .details .progress > span span::after{    
  content: '';
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
}
.target .details .progress > span.blue span::after{    
  border-color: var(--blue-color) transparent transparent transparent;
}
.target .details .progress > span.red span::after{    
  border-color: var(--red-color) transparent transparent transparent;
}
.target .details .progress > span.green span::after{    
  border-color: var(--green-color) transparent transparent transparent;
}
.target .blue .icon,
.target .blue .progress{
  background-color: #62e0ff4a;
}
.target .red .icon,
.target .red .progress{
  background-color: #ff796150;
}
.target .green .icon,
.target .green .progress{
  background-color: #6ce84d50;
}
/* end yearly targets */
/* start tickets */
.tickets .box{
  border: 1px solid #aaa;
  width: calc(50% - 10px);
}
@media (max-width:767px) {
  .tickets .box{
    width: 100%;
  }
}
/* end tickets */
/* start latest news */
.latest-news .news-row:not(:last-of-type){
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray-color);
}
.latest-news .news-row img{
  width: 100px;
  margin-right: 15px;
  border-radius: 6px;
}
.latest-news .news-row .info{
  flex: 1;
}

@media (max-width:767px) {
  .latest-news .news-row{
    display: block;
  }
  .latest-news .news-row .lable{
    width: fit-content;
    margin: 10px auto;
  }
}
/* end latest news */
/* start Tasks */
.tasks .task-row:not(:last-of-type){
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--gray-color);
}
.tasks .task-row .info{
  flex-grow: 1;
}
.tasks .task-row.done{
  opacity: 0.3;
}
.tasks .task-row.done h3,
.tasks .task-row.done p{
  text-decoration: line-through;
}
.tasks .task-row .delete{
  color: var(--red-color);
  cursor: pointer;
}
/* end Tasks */
/* start lastest upload files */
.lastest-upload ul li:not(:last-of-type){
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--gray-color);
}
.lastest-upload img{
  width: 50px;
  margin-right: 15px;
}
/* end lastest upload files */
/* start last project progress widget */
.last-project ul::before{
  content: '';
  position: absolute;
  margin-left: 15px;
  height: 100%;
  width: 3px;
  background: black;
}
.last-project ul li::before{
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  border: 3px solid var(--blue-color);
  outline: 1px solid var(--gray-color);
  border-radius: 50%;
  margin-right: 15px;
  background-color: white;
  z-index: 1;
}
.last-project ul li.done::before{
  background-color: var(--gray-color);
}
.last-project ul li.current::before{
  animation: change-color 0.8s infinite alternate;
}
.last-project .launch-icon{
  position: absolute;
  bottom: 32px;
  right: 32px;
  width: 160px;
  opacity: 0.3;
}
/* end last project progress widget */
/* start remeinders */
.reminders ul li .key{
  width: 15px;
  height: 15px;
}
.reminders ul li > .blue{
  border-left: 2px solid var(--blue-color);
}
.reminders ul li > .green{
  border-left: 2px solid var(--green-color);
}
.reminders ul li > .red{
  border-left: 2px solid var(--red-color);
}
.reminders ul li > .yellow{
  border-left: 2px solid var(--yellow-color);
}
/* end remeinders */

/* start latest post */
.latest-post .top .avatar{
  width: 48px;
  height: 48px;
}
.latest-post .post-content{
  text-transform: capitalize;
  line-height: 1.5;
  min-height: 140px;
  border-top: 1px solid var(--gray-color);
  padding-top: 15px;
}
/* end latest post */

/* start social media stats */
.social-media .box{
  padding-left: 76px;
}
.social-media .box i{
  position: absolute;
  left: 0;
  top: 0;
  width: 64px;
}
.social-media .twitter{
  color: #1da1f2;
  background-color: #1da1f245;
}
.social-media .twitter i,
.social-media .twitter a{
  background-color: #1da1f2;
}
.social-media .facebook{
  color: #1da1f2;
  background-color: #1da1f245;
}
.social-media .facebook i,
.social-media .facebook a{
  background-color: #1da1f2;
}
.social-media .youtube{
  color: #ff0000;
  background-color: #ff000045;
}
.social-media .youtube i,
.social-media .youtube a{
  background-color: #ff0000;
}
.social-media .linkedin{
  color: #0077b5;
  background-color: #0077b545;
}
.social-media .linkedin i,
.social-media .linkedin a{
  background-color: #0077b5;
}
/* end social media stats */

/* start projects table */
.projects .responsive-table{
  overflow-x: auto;
}
.projects table{
  min-width: 1000px;
  border-spacing: 0;
}
.projects table td{
  padding: 15px;
}
.projects thead td{
  background-color: #eee;
  font-weight: bold;
}
.projects tbody tr td{
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
.projects tbody tr td:last-child{
  border-right: 1px solid #eee;
}
.projects tbody tr:hover td{
  background-color: #EFEFEF;
}
.projects table img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.projects table img:not(:first-child){
  margin-left: -20px;
}
/* end projects table */

/* start settings */
.settings-page{
  grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
}
@media (max-width:767px) {
  .settings-page{
    grid-template-columns: minmax(100px,1fr);
    margin-right: 10px;
    margin-left: 10px;
  }
}
.settings-page .close-message{
  resize: none;
  min-height: 150px;
}
.toggle-checkbox{
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.toggle-switch{
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.toggle-switch::before{
  font-family: var(--fa-style-family-classic);
  content: '\f00d';
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;  
  transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch{
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before{
  content: '\f00c';
  left: 50px;
}
.setting-box #Email{
  display: inline-flex;
  width: calc(100% - 80px);
}
.setting-box .soc-box i{
  width: 40px;
  height: 40px;
  background: #f8f8f8;
  border: 1px solid #999;
  border-right: none;
  border-radius: 6px 0 0 6px;
  transition: 0.3s;
}
.setting-box > .soc-box:focus-within i{
  color: black;
}
.setting-box .soc-box input{
  height: 40px;
  background: #f8f8f8;
  border: 1px solid #999;
  border-radius: 0 6px 6px 0;
  padding-left: 10px;
}
.setting-box :disabled{
  color: #aaa;
  background-color: #DDD;
  cursor: no-drop;
}
.widgets-control .control input{
  appearance: none;
  display: none;
}
.widgets-control .control label{
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.widgets-control .control label::before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 2px solid var(--gray-color);
  margin-top: -9px;
  border-radius: 4px;
}
.widgets-control .control label::after{
  content: '\f00c';
  font-family: var(--fa-style-family-classic);
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 50%;
  width: 18px;
  height: 18px;
  background: var(--blue-color);
  color: white;
  margin-top: -9px;
  font-size: 12px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(360deg);
  transition: 0.2s;
}
.widgets-control .control input:checked + label::after{
  transform: scale(1) rotate(0);
}
.backup-manager input[type="radio"]{
  appearance: none;
  display: none;
}
.backup-manager .control label{
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.backup-manager .control label::before{
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #777;
  left: 0;
  top: 50%;
  margin-top: -11px;
  border-radius: 50%;
}
.backup-manager .control label::after{
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  background: blue;
  left: 4px;
  top: 4px;
  margin-top: -2px;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s;
}
.backup-manager .control input:checked + label::before{
  border-color: var(--blue-color);
}
.backup-manager .control input:checked + label::after{
  background: var(--blue-color);
  transform: scale(1);
}
@media (max-width:767px) {
  .backup-manager .services{
    flex-wrap: wrap;
  }
}
.backup-manager .services input[type="radio"]:checked + .server{
  border-color: var(--blue-color);
}
/* end settings */
/* start profile */
@media (max-width:767px) {
  .profile-page .overview{
    flex-direction: column;
  }
}
.profile-page .avatar-box{
  width: 300px;
}
@media (min-width:767px) {
.profile-page .avatar-box{
  border-right: 2px solid #ccc;
}
}
.profile-page .avatar-box img{
  width: 100px;
}
.profile-page .avatar-box .level{
  height: 6px;
  width: 70%;
  margin: auto;
  overflow: hidden;
}
.profile-page .avatar-box .level span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--blue-color);
  border-radius: 6px;
}
/* end profile */
/* start animation */
@keyframes change-color {
  from{
    background-color: white;
  }
  to{
    background-color: var(--gray-color);
  }
}
/* end animation */